<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.info.statistics.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.info.statistics.model.Dept" >
    <id column="DEPTNO" property="deptno" jdbcType="BIGINT" />
    <result column="DNAME" property="dname" jdbcType="CHAR" />
    <result column="LOC" property="loc" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEPTNO, DNAME, LOC, FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dept
    where DEPTNO = #{deptno,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dept
    where DEPTNO = #{deptno,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.info.statistics.model.Dept" >
    insert into dept (DEPTNO, DNAME, LOC, 
      FLAG)
    values (#{deptno,jdbcType=BIGINT}, #{dname,jdbcType=CHAR}, #{loc,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.info.statistics.model.Dept" >
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptno != null" >
        DEPTNO,
      </if>
      <if test="dname != null" >
        DNAME,
      </if>
      <if test="loc != null" >
        LOC,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptno != null" >
        #{deptno,jdbcType=BIGINT},
      </if>
      <if test="dname != null" >
        #{dname,jdbcType=CHAR},
      </if>
      <if test="loc != null" >
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.info.statistics.model.Dept" >
    update dept
    <set >
      <if test="dname != null" >
        DNAME = #{dname,jdbcType=CHAR},
      </if>
      <if test="loc != null" >
        LOC = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where DEPTNO = #{deptno,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.info.statistics.model.Dept" >
    update dept
    set DNAME = #{dname,jdbcType=CHAR},
      LOC = #{loc,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=INTEGER}
    where DEPTNO = #{deptno,jdbcType=BIGINT}
  </update>
</mapper>